.listing-title {
  font-family: "Bree Serif", serif;
    text-align: center;
    color:#4F5B66;
    margin: 5% auto;
  }
  
  .listing-search {
      padding: 0px;
      padding-top: 0px;
      padding-bottom: 15px;
      width: 100%;
      margin: 0 auto;
  }
  
 .search-form {
      width: 85%;
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0px;
      margin: 5% auto;
  
  }
  
  .form-cont {
    height: 40px;
    width: 100%;
    margin: 10px;
  }
  
  .search-form input[type="text"], .search-form input[type="number"] {
      display: inline-block;
      min-height: 40px;
      width: 80%;
      font-size: 14px;
      line-height: 1.8;
      background-color: transparent;
      color: #333;
      border: 1px solid #ddd;
      border-radius: 3px;
      transition: all 0.3s ease;
  }
  
  .search-form select {
      min-height: 40px;
      width: 83.5%;
      font-size: 14px;
      line-height: 1.8;
      padding: 6px 12px;
      background-color: transparent;
      color: #333;
      border: 1px solid #ddd;
      border-radius: 3px;
      transition: all 0.3s ease;
  }
  
  .listing-title {
      margin-top: 0px;
  }
  
  .sorting-options {
      display: flex;
      justify-content: space-between;
  }
  
  .search-btn {
      background-color: #0B5394;
      width: 35%;
      border: none;
      color: #fff;
      border-radius: 5px;
      font-size: 1rem;
      text-align: center;

  }
  
    .search-btn:hover {   
      background-color: #2f6493;
      cursor: pointer;
    }
  
  .sorting-options {
      display: flex;
      gap: 1rem;
      margin: 5% 0;
  
  }
    
  .sorting-options label {
      display: flex;
      float: right;
      align-items: center;
      gap: 0.5rem;
  }
  
  .info-box {
    margin: 5% auto;
  }
  
  .listingNumber {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    color: #0B5394;
    margin: 3% auto;
    font-weight: bold;

  }

  .listingImage {
    height: 200px;
    width: 100%;
  }

  .listing-price {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    color: #0B5394;
    margin: 3% auto;
  }

  .listing-address {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    color: #4F5B66;
    margin: 3% auto;
  }

  .more-details {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    color: #0B5394;
    margin: 3% auto;
  }

  .more-details:hover {
    color: #7b8c9b;
    cursor: pointer;
  }
  
  .listing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    padding: 20px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  
  .primary-info {
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .search-form {
      height: 30%;
      display: grid;
      grid-template-rows: 1fr 1fr;
     
    }
  
    .top-group {
      display:grid;
      grid-template-columns: 70% 30%;
    }
  
    .bottom-group {
      display:grid;
      grid-template-columns: repeat(6, 1fr);
    }
  
    .info-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .secondary-info{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10px;
      width: 400px;
    }
  }
  
  @media (min-width: 1342px) {
    .info-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }