.listingImage {
    width: 65%;
    height: auto;
    margin: 5% auto;
    display: block;
  }

  .primary-info {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    margin: 5% auto;
    text-align: center;
  }

  .price {
    color: #0B5394;
    font-weight: bold;
  }

  .secondary-info {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    margin: 5% auto;

  }


  @media (min-width: 768px) {
    .secondary-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    } 
}
