.container {
    height: 100vh;
    position: relative;
  }
  
  .calculate-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  
  
  
  #loading,
  #result {
    display: none;
  }
  
