.bootNav{
    background-color: #0B5394;
    padding:1rem;
    height: 90px;
}


.SocialIconsContainer{
    width: 100%;
    background-color: red;
    display: flex;
}

  .SocialIcons {
    display: flex;
    align-items: center;
  }
  

  .SocialIcons a {
    color: white;
  }
  
  .SocialIcons a:hover {
    opacity: 0.8;
  }
  