/* Overall Page Container */
.pageContainer {
  font-family: 'bree-serif';
  margin: 0;
  padding: 0;
}

.heroSection {
  background: no-repeat center center/cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.heroContent {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); 
}

.heroContent h1 {
  font-size: 2.5em;
  margin: 0;
}

.heroContent p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Content Section */
.contentSection {
  padding: 80px;
  max-width: 800px;
  margin: 0 auto;   
  text-align: left; 
}

.contentSection ol {
  padding-left: 20px;
}

.contentSection li {
  margin-bottom: 20px; 
}

.contentSection strong {
  font-family: 'bree-serif'; 
  font-size: 1.2em; 
}
