/* Overall Page Container */
.pageContainer {
  font-family: 'bree-serif';
  margin: 0;
  padding: 0;
}

.heroSection {
  background: no-repeat center center/cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.heroContent {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); 
}

.heroContent h1 {
  font-size: 2.5em;
  margin: 0;
}

.heroContent p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Definition Content */
.definitionContent {
  padding-left: 80px;
  font-family: 'Quicksand', sans-serif;
}

.definitionSection {
  margin-bottom: 20px;
}

.definitionSection strong {
  display: block;
  font-size: 1.5em;
  margin-bottom: 5px;
}
